{% extends "base.html.twig" %}

{% block title %}Relatórios candidatos{% endblock title %}

{% block body %}

    <div class="row mb-4">
        <div class="col">
            <h1>Relatórios candidatos</h1>
            <p>Nesta página são apresentados alguns relatórios prontos.</p>
        </div>
    </div>

    <span id="target" data-access="{{ path('relatorio_acesso') }}"></span>

    {% if exact is not empty %}
        <div class="row mb-3">
            <div class="col">
                <h2>Resultados exatos</h2>
                <p>Os seguintes relatórios têm as mesmas configurações ou contém o intervalo de tempo que você requeriu.</p>

                {{ _self.lista_relatorio(exact.dInicio, exact.dFim, exact.id) }}
            </div>
        </div>
    {% endif %}

    {% if oneHit is not empty %}
        <div class="row mb-3">
            <div class="col">
                <h2>Resultados parcialmente inclusos</h2>
                <p>Os seguintes relatórios incluem uma das datas que você forneceu.</p>

                {% for row in oneHit %}
                    {{ _self.lista_relatorio(row.dInicio, row.dFim, row.id) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if period is not empty %}
        <div class="row mb-3">
            <div class="col">
                <h2>Resultados com Períodos similares</h2>
                <p>Os seguintes relatórios têm o intervalo de tempo entre as datas similar ao perído que vocẽ ofereceu, limitados aos últimos 12 resultados.</p>

                {% for row in period %}
                    {{ _self.lista_relatorio(row.dInicio, row.dFim, row.id) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if exact is empty %}
        <div class="row">
            <div class="col mx-auto">
                <button class="btn btn-primary" id="force-new" data-link="{{ path('relatorio_concluir_pedido') }}">Requerir mesmo assim</button>
            </div>
        </div>
    {% endif %}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('relatorio_candidato') }}
{% endblock javascripts %}

{% macro lista_relatorio(di, df, id) %}
    <div class="row mb-1">
        <div class="col-1"><i class="ri-file-pdf-line ri-lg"></i></div>
        <div class="col">
            {{ di|date("d/m/Y") }} - {{ df|date("d/m/Y") }}
        </div>
        <div class="col mx-auto">
            <button class="btn btn-primary btn-rqr" data-id="{{ id }}">Requisitar acesso</button>
        </div>
    </div>
{% endmacro lista_relatorio %}