{% extends "base.html.twig" %}

{% block title %}Selecionar data{{ razao|default(' para pesquisa') }}{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col">
            <h1>Selecione a data</h1>
        </div>
    </div>
    {{ form_start(form) }}
        <div class="row mb-2">
            <div class="col">
                <div class="form-floating mb-3">
                    {{ form_widget(form.dInicio, {'attr': {'placeholder': form.dInicio.vars.label}}) }}
                    {{ form_label(form.dInicio) }}
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    {{ form_widget(form.dFim, {'attr': {'placeholder': form.dFim.vars.label}}) }}
                    {{ form_label(form.dFim) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock body %}