{% if is_granted('ROLE_USER') %}
    <div class="position-absolute" style="bottom: 80px; right: 40px;">
        <div class="collapse" id="novo-collapse">
            <div class="btn-group-vertical">
                <a href="{{ path('home') }}" class="btn btn-outline-primary"></a>
                <a href="{{ path('home') }}" class="btn btn-outline-primary"></a>
                <a href="{{ path('home') }}" class="btn btn-outline-primary"></a>
                <a href="{{ path('home') }}" class="btn btn-outline-primary"></a>
            </div>
        </div>
        <button class="btn btn-success rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#novo-collapse" aria-expanded="false" aria-controls="novo-collapse">+</button>
    </div>
{% endif %}

<div class="row d-none d-lg-flex bg-dark sticky-top">
    <div class="col">

        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ path('home') }}{% else %}{{ path('welcome') }}{% endif %}">
                    <i class="ri-home-line ri-xl"></i> Início
                </a>
            </li>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a href="{{ path('laudos_index') }}" class="nav-link text-white">
                        <i class="ri-article-line ri-xl"></i> Registros
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('perfil') }}" class="nav-link text-white">
                        <i class="ri-user-settings-line ri-xl"></i> Crianças
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('empresa_index') }}" class="nav-link text-white">
                        <i class="ri-briefcase-4-line ri-xl"></i> KB
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('perfil') }}" class="nav-link text-white">
                            <i class="ri-user-settings-line ri-xl"></i> Perfil
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_logout') }}">
                        <i class="ri-logout-box-r-line ri-xl"></i> Sair
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>
</div>
