{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="d-lg-none">
        <div class="position-fixed" style="bottom: 105px; right: 150px;">
            <div class="row">
                <div class="col">
                    <div class="collapse" id="crianca-collapse">
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-success rounded-circle imagem-crianca-ativa" type="button" data-bs-toggle="collapse" data-bs-target="#crianca-collapse" aria-expanded="false" aria-controls="crianca-collapse" data-update="{{ path('pessoa_atualizar_criancas_ajax') }}">
                        <img src="" alt="" class="rounded-circle" style="height: 32px;">
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="row justify-content-center d-lg-none bg-dark fixed-bottom">

    {#<div class="col mt-2">
        <p class="text-center">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('home') }}" class="text-decoration-none text-white">
                    <i class="ri-home-line ri-2x"></i><br>Início
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="text-decoration-none text-white">
                    <i class="ri-home-line ri-2x"></i><br>Acessar
                </a>
            {% endif %}
        </p>
    </div>#}

    <div class="col mt-2">
        {% if is_granted('ROLE_USER') %}
            <p class="text-center">
                <a href="{{ path('crianca_registros') }}" class="text-decoration-none text-white">
                    <i class="ri-briefcase-4-line ri-2x"></i><br>Registros
                </a>
            </p>
        {% endif %}
    </div>
    <div class="col mt-2">
        <p class="text-center">
            <a class="text-decoration-none text-white" href="{{ path('crianca_lista') }}">
                <i class="ri-article-line ri-2x"></i><br>Crianças
            </a>
        </p>
    </div>

    <div class="col mt-2">
        <p class="text-center">
            <a class="text-decoration-none text-white" href="{{ path('kb_busca') }}">
                <i class="ri-user-settings-line ri-2x"></i><br>KB
            </a>
        </p>
    </div>
</div>