{% if is_granted('ROLE_USER') %}
    <div class="position-fixed" style="bottom: 105px; right: 50px; z-index: 9999;">
        <div class="collapse" id="novo-collapse">
            <div class="btn-group-vertical">
                <a href="{{ path('amamentacao') }}" class="btn btn-outline-primary"><i class="ri-hearts-line"></i></a>
                <a href="{{ path('bebida') }}" class="btn btn-outline-primary"><i class="ri-thermometer-line"></i></a>
                <a href="{{ path('refeicao') }}" class="btn btn-outline-primary"><i class="ri-fridge-line"></i></a>
                <a href="{{ path('refeicao') }}" class="btn btn-outline-primary"><i class="ri-cake-3-line"></i></a>
            </div>
        </div>
        <button class="btn btn-success rounded-circle fw-bold fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#novo-collapse" aria-expanded="false" aria-controls="novo-collapse">+</button>
    </div>
{% endif %}

<div class="row d-none d-lg-flex bg-dark sticky-top">
    <div class="col">

        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('home') }}" class="nav-link text-white">
                        <i class="ri-home-line ri-xl"></i> Início
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="nav-link text-white">
                        <i class="ri-home-line ri-xl"></i> Acessar
                    </a>
                {% endif %}
            </li>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a href="{{ path('crianca_registros') }}" class="nav-link text-white">
                        <i class="ri-article-line ri-xl"></i> Registros
                    </a>
                </li>

                <li class="nav-item">
                    {#<a class="nav-link text-white">
                        <i class="ri-user-settings-line ri-xl"></i> Crianças
                    </a>#}
                    <div class="btn-group">
                        <a href="{{ path('crianca_lista') }}" class="nav-link text-white"><i class="ri-user-settings-line ri-xl"></i> Crianças</a>
                        <button type="button" class="nav-link text-white dropdown-toggle imagem-crianca-ativa" data-bs-toggle="dropdown" aria-expanded="false" data-update="{{ path('pessoa_atualizar_criancas_ajax') }}">
                            <img src="" alt="" class="rounded-circle" style="height: 32px;">
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>

                </li>

                <li class="nav-item">
                    <a href="{{ path('kb_busca') }}" class="nav-link text-white">
                        <i class="ri-briefcase-4-line ri-xl"></i> KB
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('pessoa_perfil') }}" class="nav-link text-white">
                            <i class="ri-user-settings-line ri-xl"></i> Perfil
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_logout') }}">
                        <i class="ri-logout-box-r-line ri-xl"></i> Sair
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>
</div>
